<!DOCTYPE html>
<html>
  <head>
    <title>books</title>
    <link rel="stylesheet" href="./styles/base.css" />
  </head>
  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/search">Search</a></li> 
    </ul>
    <h1>Hello World</h1>
 
  </body>
</html>